flows.json
[
  {
    "id": "1",
    "type": "http in",
    "name": "OwnTracks Input",
    "url": "/owntracks/raphael/cargo",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "wires": [["2"]]
  },
  {
    "id": "2",
    "type": "json",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "wires": [["3"]]
  },
  {
    "id": "3",
    "type": "function",
    "name": "Traiter position",
    "func": "var lat = msg.payload.lat;
var lon = msg.payload.lon;
var tid = msg.payload.tid || "Raphaël";

var msg1 = {
    payload: {
        name: tid,
        lat: lat,
        lon: lon,
        icon: "fa-bicycle",
        layer: "OwnTracks"
    }
};

var msg2 = {
    payload: "OK"
};

return [msg1, msg2];",
    "outputs": 2,
    "noerr": 0,
    "wires": [["4"], ["5"]]
  },
  {
    "id": "4",
    "type": "worldmap",
    "name": "Carte OwnTracks",
    "lat": "",
    "lon": "",
    "zoom": "",
    "layer": "OSM",
    "cluster": "",
    "maxage": "",
    "usermenu": "false",
    "layers": "1",
    "panit": "true",
    "heatmap": "false",
    "wires": []
  },
  {
    "id": "5",
    "type": "http response",
    "name": "Réponse 200 OK",
    "statusCode": "",
    "headers": {},
    "wires": []
  }
]
